:root{
  width: 100%;
  height: 100%;
}

h3{
  color: white;
  display: flex;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #2c2b2b52;
  margin: 30px;
  padding: 10px;
  width: fit-content;
 border-bottom: 8px solid rgb(6, 119, 144);
}

#firstButton{
  margin: 20px 30px;
  background: rgb(239, 239, 239);
  border-radius: 5px;
  border: 2px solid rgb(6, 119, 144);
}

#DetailsWeatherBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(6, 119, 144);
  width: 20%;
  height: 50%;
  margin-top: 150px;
  margin-left: 40%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#inputSearchBox {
  margin: 25px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/earth.gif");
  background-size: cover;
}

h2{
  margin: 10px;
  text-align: center;
}
/* ///////////////ressponsiv */


/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  #DetailsWeatherBox {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  #DetailsWeatherBox {
    width: 100%;
    padding: 0 20px;
  }
}

input {
  width: 50%;
}

button {
  width: 60px;
}

input,
button {
  margin: 0 5px 0 5px;
}
